@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --roxo: #860BD1;
    --amarelo: #EBC917;
    --verde-escuro: #1D8275;
    --verde: #24BE54;
    --laranja: #D34A1F;
    --vermelho: #C81919;
    --cinza: #EAEAEA;
    --cinza-escuro:  #3b3b3b;
    --preto: #000000;

    --destaque: 'DM Serif Display', serif;
    --padrao: 'Josefin Sans', sans-serif; font-weight: 400;
    --padrao-bold: 'Josefin Sans', sans-serif; font-weight: 700;
}

header{
    display: flex;
    margin: 0;
    margin-top: -10px;
    margin-left: -8px;
    padding: 0.5em;
    width: 100%;
    background-color: var(--verde-escuro);
    align-items: center;
}
header h1{
    font-size: 1.5em;
    color: white;
}
header h1 em{
    font-family: var(--destaque);
}
header h1 strong{
    font-family: var(--padrao-bold)
}
header input{
    padding: 5px;
    border-radius: 5em;
    border: none;
    font-family: var(--padrao);
}
header button{
    background-color: var(--roxo);
    border: none;
    padding: 0px 5px;
}
.barra-pesquisa{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin: 0px 70px;
}
.usuario{ 
    position: absolute;
    right: 0;
    margin: 0px 15px;
    display: flex;
    align-items: center;
}
.usuario a{
    text-decoration: none;
    text-align: center;
}
.usuario a p{
    font-family: var(--padrao);
    color: white;
    margin: 0px;
}
@media only screen and (max-width: 500px){
    header h1{
        font-size: 1.2em;
    }
    .usuario{
        margin: 0px;
        padding: 0px;
    }
    .barra-pesquisa{
        margin: 0px;
        width: 55%;
    }
    .barra-pesquisa input{
        width: 45%;
    }
}

nav ul{
    position: absolute;
    top: 25px;
    right: 0;
    background-color:#fff;
    display:none;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.384);
}
nav:hover ul, nav.over ul{
    display:block;
}
nav ul li{
    list-style: none;
    width: 100px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: var(--padrao);
}
.cab a{
    border-bottom: 3px solid var(--verde-escuro);
}
.manc a{
    border-bottom: 3px solid var(--verde);
}
.epl a{
    border-bottom: 3px solid var(--laranja);
}
.maqu a{
    border-bottom: 3px solid var(--vermelho);
}

#tit{
    font: italic 35px var(--destaque);
    margin: 100px;
    margin-left: 25%;
    margin-top: 40px;
}

#traco{
    border-bottom: 5px solid var(--preto);
}

main{
    padding-left: 40px;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "profissional-1 profissional-2"
    "profissional-3 profissional-4"
    "profissional-5 profissional-6";
    
}

@media only screen and (max-width: 1000px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

article{
    display: flex;
    padding: 0;
    justify-content: center;
    height: 150px;
    margin: 15px;
    background-color: var(--cinza);
    border-radius: 20px;
    width: 30em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
article figure{
    display: flex;
    justify-content: center;
    background-color: var(--verde-escuro);
    padding: 50px;
    border-radius: 20px 0 0 20px;
    margin: 0;
}
article figure img{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-bottom: auto;
    border-radius: 100%;
}
article section{
    height: 120px;
    margin: 0px;
}
article section p{
    margin: 10px; 
    text-align: justify;
    font-family: var(--padrao);
}
.nome {
    color: var(--preto);
    font-size: 25px;
}
.bio{
    color: var(--cinza-escuro);
    font-size: 17px;
}