@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --roxo: #860BD1;
    --amarelo: #EBC917;
    --verde-escuro: #1D8275;
    --verde: #24BE54;
    --laranja: #D34A1F;
    --vermelho: #C81919;
    --cinza: #EAEAEA;
    --cinza-escuro:  #3b3b3b;

    --destaque: 'DM Serif Display', serif;
    --padrao: 'Josefin Sans', sans-serif; font-weight: 400;
    --padrao-bold: 'Josefin Sans', sans-serif; font-weight: 700;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url(imagens/imgs-site/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    display: flex;
    margin: 0px;
    padding:  0.5em 0;
    width: 100%;
    background-color: var(--roxo);
    align-items: center;
}
header h1{
    font-size: 1.5em;
    color: white;
    margin: 0.5em;
}
header h1 em{
    font-family: var(--destaque);
}
header h1 strong{
    font-family: var(--padrao-bold)
}
header input{
    padding: 5px;
    border-radius: 5em;
    border: none;
    font-family: var(--padrao);
}
header button{
    background-color: var(--roxo);
    border: none;
    padding: 0px 5px;
}

.no-text-decoration{
    text-decoration: none;
}

.barra-pesquisa{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin: 0px 70px;
}
.usuario{ 
    position: absolute;
    right: 0;
    margin: 0px;
    display: flex;
    align-items: center;
    margin: 0.5em;
}
.usuario a{
    text-decoration: none;
    text-align: center;
}
.usuario a p{
    font-family: var(--padrao);
    color: white;
    margin: 0px;
}
@media only screen and (max-width: 540px){
    header h1{
        font-size: 1.2em;
    }
    .usuario{
        margin: 0px;
        padding: 0px;
    }
    .barra-pesquisa{
        margin: 0px;
        width: 55%;
    }
    .barra-pesquisa input{
        width: 45%;
    }
}
/*NAV*/
nav ul{
    position: absolute;
    top: 25px;
    right: 0;
    background-color:#fff;
    display:none;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.384);
}
nav:hover ul, nav.over ul{
    display:block;
}
nav ul li{
    list-style: none;
    width: 100px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: var(--padrao);
}
.cab a{
    border-bottom: 3px solid var(--verde-escuro);
}
.manc a{
    border-bottom: 3px solid var(--verde);
}
.epl a{
    border-bottom: 3px solid var(--laranja);
}
.maqu a{
    border-bottom: 3px solid var(--vermelho);
}

/* Main */
#container{
    font-family: var(--padrao);
    background-color: #EAEAEA;
    border-radius: 20px;
    width:  480px;
    height: 350px;           
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.40);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(0, 0, 0, 0.4);

}

#label-login{
    display: block;
    margin-top: 40px;
    font-size: 20px;
}

#child{
    align-items: center;

}
#container input{
    padding: 10px 90px;
    border: none;
}

.radius{
    border-radius: 10px;
}

.input{
    text-align: center;
}

.input-text{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
}

.submit{
    width: 100%;
    background-color: var(--amarelo);
    box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.40);
    color: white;
    font-size: 15px;
}

#logomarca{
    margin: 0.5em;
}

#lembre-de-mim, #esqueceu-sua-senha {
    margin-top: 20px;
    display: inline-block; 
    font-size: 12px;
    margin-bottom: 20px;
}

#lembre-de-mim{
    margin-right: 60px;
    
}

.italic{
    font-style: italic;
}

.bold{
    font-style: bold;
    font-weight: bold;
}

#hr{
    display: block;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    width: 25%; 
    margin: 10px auto; 
}

#input-email, #input-senha{
    position: relative;

}

#input-email span{
    position: absolute;
    top: 50%;
    left: 70px; 
    transform: translateY(-10%);
}

#input-senha span{
    position: absolute;
    top: 50%;
    left: 70px; 
    transform: translateY(-5%);

}

#input-email span img{
    height: 20px; 
}

#input-senha span img {
    height: 15px; 
}

#cadastre-se{
    margin-top: 20px;
    font-size: 14px;
}

#senhas-login{
    align-items: center;
}


