@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --roxo: #860BD1;
    --amarelo: #EBC917;
    --verde-escuro: #1D8275;
    --verde: #24BE54;
    --laranja: #D34A1F;
    --vermelho: #C81919;
    --cinza: #EAEAEA;
    --cinza-escuro:  #3b3b3b;

    --destaque: 'DM Serif Display', serif;
    --padrao: 'Josefin Sans', sans-serif; font-weight: 400;
    --padrao-bold: 'Josefin Sans', sans-serif; font-weight: 700;
}
body{
    margin: 0px;
}
header{
    display: flex;
    margin: 0px;
    padding: 0.5em;
    width: 100%;
    background-color: var(--roxo);
    align-items: center;
}
header h1{
    font-size: 1.5em;
    color: white;
}
header h1 em{
    font-family: var(--destaque);
}
header h1 strong{
    font-family: var(--padrao-bold)
}
header input{
    padding: 5px;
    border-radius: 5em;
    border: none;
    font-family: var(--padrao);
}
header button{
    background-color: var(--roxo);
    border: none;
    padding: 0px 5px;
}
.barra-pesquisa{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin: 0px 70px;
}
.usuario{ 
    position: absolute;
    right: 0;
    margin: 0px 15px;
    display: flex;
    align-items: center;
}
.usuario a{
    text-decoration: none;
    text-align: center;
}
.usuario a p{
    font-family: var(--padrao);
    color: white;
    margin: 0px;
}
@media only screen and (max-width: 500px){
    header h1{
        font-size: 1.2em;
    }
    .usuario{
        margin: 0px;
        padding: 0px;
    }
    .barra-pesquisa{
        margin: 0px;
        width: 55%;
    }
    .barra-pesquisa input{
        width: 45%;
    }
}
/*MAIN*/
    /*PROFISSIONAIS EM DESTAQUE*/
main h1{
    font-family: var(--destaque);
    margin-left: 30px;
    font-size: 1.5em;
}
main hr{
    width: 10px;
    margin-left: 30px;
    color: black;
    padding: 0;
    border: 3px solid black;
}
.prof-destaque{
    display: flex;
}
.profissional{
    display: flex;
    background-color: var(--cinza);
    border-radius: 35px;
    width: 30em;
    padding: 0;
    margin: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
}
.profissional figure{
    background-color: var(--roxo);
    padding: 10px;
    border-radius: 30% 0% 0% 30%;
    margin: 0;
}
.profissional figure img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.profissonal section{
    height: 120px;
    margin: 0px;
}
.profissional section p{
    margin: 10px; 
    text-align: justify;
    font-family: var(--padrao);
}
.nome {
    color: black;
    font-size: 25px;
}
.bio{
    color: var(--cinza-escuro);
    font-size: 17px;
}

    /*CARROSSEL*/
.tendencias{
    overflow: hidden;
    display: block;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.tendencias ul{
    list-style-type: none;
    display: flex;
}
.tendencias ul li img{
    width: 300px;
    height: 320px;
}