@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --roxo: #860BD1;
    --amarelo: #EBC917;
    --verde-escuro: #1D8275;
    --verde: #24BE54;
    --laranja: #D34A1F;
    --vermelho: #C81919;

    --destaque: 'DM Serif Display', serif;
    --padrao: 'Josefin Sans', sans-serif; font-weight: 400;
    --padrao-bold: 'Josefin Sans', sans-serif; font-weight: 700;
}
body{
    margin: 0px;
}
header{
    display: flex;
    margin: 0px;
    padding: 0.5em;
    width: 100%;
    background-color: var(--roxo);
    align-items: center;
}
header h1{
    font-size: 1.5em;
    color: white;
}
header h1 em{
    font-family: var(--destaque);
}
header h1 strong{
    font-family: var(--padrao-bold)
}
header input{
    padding: 5px;
    border-radius: 5em;
    border: none;
    font-family: var(--padrao);
}
header button{
    background-color: var(--roxo);
    border: none;
    padding: 0px 5px;
}
.barra-pesquisa{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin: 0px 10px;
}